@charset "UTF-8";

/* Todas as demais midias */

/* typical device breakpoints

------------------------------

Pequenas telas:até 600px
Celular: de 600px ate 768px
Tablet:  de 768px ate 992px
DeskTop: de 992px ate 1200px
Grandes telas: acima de 1200px
*/
@media screen and (min-width:768px) {
    i#burguer{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    margin-left: 10px;
    }
}
@media screen and (min-width:1200px){
   main{
    width: 64vw;
   } 

}
